body {
    background-color: #f8f9fa; /* Color de fondo */
    font-family: Arial, sans-serif; /* Fuente del texto */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-image {
    background-image: url('../imagen/fondo.webp'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position:center;
    height: 100vh; /* Ajustar la altura al 100% de la ventana gráfica */

}

.login-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo del formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.login-form h2 {
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Tamaño máximo del logo */
}
