body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.list {
    display: grid;
overflow: hidden;

}
.user-list {
    list-style: none;
    padding: 0;
}

.user-item {
    margin-bottom: 10px;
}

.assign-group-form {
    display: flex;
    align-items: center;
}

.group-select {
    margin-right: 10px;
}

.assign-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.assign-button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
