{% extends  'index_master.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="right_col" role="main">

    <div class="container">
        <h2>Observaciones para el afiliado {{ afiliado.nombre_asociacion }}</h2>

        <form method="post" action="{% url 'afiliado_observation' afiliado.id%}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Agregar Observación</button>
        </form>

        <a href="{% url 'afiliado_list' %}">Volver al listado de afiliados</a>
    </div>
    
    {% endblock %}

</body>
</html>
