<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Trámites</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<form method="get" action="{% url 'listar_tramites' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Buscar">
    <button type="submit">Buscar</button>
</form>
<h2>Listado de Trámites</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Número de Trámite</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Solicitante</th>
                <th>Número de Fojas</th>
                <th>Tipo de Tramite</th>
                <th>Fecha de Entrega con Observaciones</th>
                <th>Estado</th>
                <th>Comentario</th>
                <th>Obciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tramite in tramites %}
                <tr>
                    <td>{{ tramite.num_tramite }}</td>
                    <td>{{ tramite.fecha }}</td>
                    <td>{{ tramite.hora }}</td>
                    <td>{{ tramite.solicitante }}</td>
                    <td>{{ tramite.num_fojas }}</td>
                    <td>{{ tramite.tipo_de_tramite }}</td>
                    <td>{{ tramite.fecha_entrega_form_obs }}</td>
                    <td>{{ tramite.estado }}</td>
                    <td>{{ tramite.comentario }}</td>
                    <td>(<a href="{% url 'editar_tramite' pk=tramite.pk %}">Editar</a>),(<a href="{% url 'editar_tramite' pk=tramite.pk %}">Subir Documento</a>)</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>
