{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/registr_tramite.css' %}"> 
<div class="container mt-5">
    <button id="open-modal">Nuevo tramite</button>
    <div class="modal" id="modal">
        <div class="modal-content">
            <form method="post" action="{% url 'register_tramite' %}">
                {% csrf_token %}
                {{ form_t_t.as_p }}
                <button type="submit">Guardar</button>
            </form>
            <button class="close-modal" id="close-modal">Cerrar Ventana Modal</button>
        </div>
    </div>
</div>
<script>
    //  el estado de la ventana modal con JavaScript
    const openModalBtn = document.getElementById('open-modal');
    const closeModalBtn = document.getElementById('close-modal');
    const modal = document.getElementById('modal');

    openModalBtn.addEventListener('click', () => {
        modal.style.display = 'flex';
    });

    closeModalBtn.addEventListener('click', () => {
        modal.style.display = 'none';
    });
</script>
    <form method="post">
      <h2>Registrar trámite</h2>
        {{ form_t.as_p }}
        
        <button type="submit" id="agregar_tipo_tramite">Guardar</button>
    </form>
{% endblock %}
