<!-- myapp/templates/myapp/reset_password.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <p>Hola,{{ user.first_name }},{{ user.last_name }},{{ user.username }}</p>
    <h2>Cambiar Contraseña</h2>
    <form method="post" action="">
        {% csrf_token %}
        <label for="new_password1">Nueva Contraseña:</label>
        <input type="password" name="new_password1" required>
        <br>
        <label for="new_password2">Confirmar Nueva Contraseña:</label>
        <input type="password" name="new_password2" required>
        <br>
        <input type="submit" value="Guardar Contraseña">
    </form>
</body>
</html>

