<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Correo de Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Restablecimiento de Contraseña</h1>

    {% if user.is_authenticated %}
        <p>Se enviara un correo electrónico para restablecer la contraseña del usuario</p>
        {{ user.first_name }},{{ user.last_name }},{{ user.username }}

    {% else %}
        <p>Te enviaremos un correo electrónico para restablecer tu contraseña.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Correo Electrónico</button>
    </form>
</body>
</html>