{% extends  'index_master.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="right_col" role="main">

    <link rel="stylesheet" href="{% static 'css/tramite_subir_documento.css' %}">
    <h2>Subir Documento para {{ tramite.id }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subir Documento</button>
    </form>
    <a class="asfw" href="{% url 'tramite_list' %}">Volver a la lista de tramites</a>
    {% endblock %}
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
