{% extends  'index_master.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="right_col" role="main">

    <div class="container">
        <h2>Observaciones para el Trámite {{ tramite.num_tramite }}</h2>

        <form method="post" action="{% url 'tramite_agregar_observacion' tramite.id %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Agregar Observación</button>
        </form>

        <a href="{% url 'tramite_list' %}">Volver al listado de trámites</a>
    </div>
    
    {% endblock %}

</body>
</html>
