{% extends  'index_master.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="right_col" role="main">
    <div class="containe">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user_register.css' %}">
    <title>Tu Proyecto</title>
    <h2>Registro</h2>
    {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post" action="{% url 'user_register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
</div>   
{% endblock %}
</body>

