body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 60px;  

}
p.tex1 {
  color: white;
}
p.tex2 {
  color: white;
  margin: 5px;
}
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #686868; 
  color: white; 
  padding: 2px 20px; 
  z-index: 1000; 
}
.dashboard{
  position:fixed;
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
}
.logout {
  margin-left: auto; 
  left: 10px;
}
.active {
  background-color: #84b6f4; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-decoration: none;
  margin-right: 50px;
}

.active:hover {
  background-color: #fcffff; 
  color: rgb(0, 0, 0); 
}